.center {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
}
.jason {
    display: table;
    background-repeat: no-repeat;
    background-size: cover;

}

#background_picture {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}