.center {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
}
.jason {
    display: table;
    background-repeat: no-repeat;
    background-size: cover;

}

#jason_image {
    width: 6%;
    height: 6%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative
}

#background_picture {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

#machete {
    width: 22px;
    height: 20px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


