<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jason Game</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>

<section>
    <div id="jason-header"></div>
    <div id="jason-without-machete"><img src="static/images/jason_without_machete.png"></div>
    <div id="machete-left"><img src="static/images/machete_left.png" onkeydown="keypress(event)"></div>
    <div id="machete-right"><img src="static/images/machete_right.png" onkeydown="keypress(event)"></div>
    <div id="jason"><img src="static/images/jason.png" onkeydown="switchPics(e)"></div>
    <div id="timer"></div>
    <audio id="knife-sound" src="static/sounds/knife_stab.mp3" type="audio/mpeg" onkeydown="keypress(event)"></audio>
    <script src="static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var move = 0;
            setInterval(function () {
                move+=1;
                $('section').css ('background-position-y', move + '%');
            }, 75)
        })
    </script>
</section>

</body>
</html>