<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jason Game</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>
<section>
    <div id="jason-header">Jason Kill</div>
    <div id ="target"><img src="static/images/survivor-move_flashlight_0.png"> </div>
    <script src="static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var move = 0;
            setInterval(function () {
                move-=1;
                $('section').css ('background-position-y', move + '%');
            }, 50)
        })
    </script>
</section>

</body>
</html>